<!DOCTYPE html>
<html>
<head>
	<title>Categorias</title>
	<script src="../js/jquery-3.1.1.js" type="text/javascript"></script>
 <script type="text/javascript">
 	$(document).ready(function(){
	$.ajax({
  	url: 'http://127.0.0.1/api/list?categoria=padaria',
  	success: function(dados){
  		$('#tabela').empty(); //Limpando a tabela
  		for(var i=0;dados.length>i;i++){
				//Adicionando registros retornados na tabela
				$('#tabela').append('<tr><td>'+dados[i].id+'</td><td>'+dados[i].texto_tras+'</td><td>'+dados[i].categoria+'</td></tr>');
			}
      }
  });
});
 </script>
</head>
<body>
<H1>Teste Categorias Template</H1>

<div>


<table id="tabela">
<thead>
	<tr>
		<th>ID do anuncio</th>
		<th>Nome</th>
		<th>Categoria</th>
	</tr>
</thead>
<tbody id="tabela">
	
</tbody>
</table>




</div>
</body>
</html>